aniso8601==8.1.0
certifi==2020.12.5
chardet==4.0.0
ci-info==0.2.0
click==7.1.2
configobj==5.0.6
configparser==5.0.1
decorator==4.4.2
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
httplib2==0.18.1
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
networkx==2.5
nibabel==3.2.1
numpy==1.19.4
packaging==20.8
pandas==1.2.0
pathlib==1.0.1
Pillow==8.0.1
pydot==1.4.1
PyMuPDF==1.18.5
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.5
pyxnat==1.4
rdflib==5.0.0
requests==2.25.1
scipy==1.5.4
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
